/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../runo/runo.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin vaadinprofilsample {
  /* Include all the styles from the reindeer theme */
  @include runo;

  /* Insert your theme rules here */
  
  
  .label{
  	margin-left: 10px;
  	margin-top: 10px;
  	front-size: large;
	}
	
	
	.main{
		border: 5px;
		width: 100%;
		height: 100%;
	}
	
  .tableview{
  	margin-left: 10px;
  	margin-top: 10px;
  	front-size: large;
  	}
  	
  .default_margin{
    margin: 5px;
  }

	.default_padding{
		padding: 15px;
	}
	
	.view_default_padding{
		padding: 10px;
	}
}
